<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<<<<<<< HEAD
          <% if current_user.present? %>
          <%= link_to 'New Review', new_product_review_path %> <% end %>
=======
<<<<<<< HEAD
                    <% if current_user.present? %>

<%= link_to 'New Review', new_product_review_path %>

<% end %>
<% if @reviews.blank? %>
          <% if current_user.present? %>

          <h3>No Reviews addded yet, would you like to add the first?</h3>
          <%= link_to "Add First Review", new_product_review_path(@product), class:"btn btn-primary btn-lg" %> <% else %> <%= link_to "Log In To Leave A Review", new_session_path, class:"btn btn-primary btn-lg" %> <% end %>
=======

<%= link_to 'New Review', new_product_review_path %>
>>>>>>> 0c3bd463a3d5461935c1846c919c5ff37d51de2a
<% if @reviews.blank? %>
          <% if current_user.present? %>

          <h3>No Reviews addded yet, would you like to add the first?</h3>
<<<<<<< HEAD
          <%= link_to "Add First Review", new_product_review_path(@product), class:"btn btn-primary btn-lg" %> <% else %> <h3>You must be logged in to post reviews.</h3>
          <%= link_to "Log-In", new_session_path, class:"btn btn-primary btn-lg" %> <% end %>
=======
          <%= link_to "Add First Review", new_product_review_path(@product), class:"btn btn-primary btn-lg" %>
>>>>>>> 1df1b77f552631e86b777a9ff485570439e551fc
>>>>>>> 0c3bd463a3d5461935c1846c919c5ff37d51de2a
          <% else %>



<div class="container"><div class="card">
     <div class="center">
       <%= will_paginate @reviews, :class => 'digg_pagination' %>
      </div>
      <div class="card card-body">

          <% @reviews.order("reviewDate desc").each do |review| %>
                    <div class="reviews">
                      <div class="star-rating" data-score= <%= review.rating %> >  
                      </div> <!--From Raty, uses stars with the data attached to the review.rating-->
                      <div class="row">
                        <div class="card-flush" align="center">
                          <p><%= image_tag review.image_file_name,  size:'120x80', style: "border-radius: 100%" %></p><%= review.author %>
                        </div>
                      <div class="card-body offset-md-1" style="width: 50%"; >
                        <p><%= review.reviewText %></p>
                      </div> 
<<<<<<< HEAD
                    </div>          <% if current_user.present? %>

                    <%= link_to 'Show Review', review_path(review.id) %><% if review.user_id == current_user.id %>
=======
<<<<<<< HEAD
                                  <%= link_to 'Show Full Review', review_path(review.id) %>
                    </div>
                    <% if current_user.present? %>
                    <% if review.user_id == current_user.id %>
            <%= link_to 'Edit', edit_review_path(review.id) %>        
                | <%= link_to 'Delete', review_path(review.id), method: :Delete, data: {confirm: "Are you sure you want to delete your review?"} %> <% end %></div>
          <% end %> <% end %>
=======
                    </div>
                    <% if review.user_id == current_user.id %>
>>>>>>> 0c3bd463a3d5461935c1846c919c5ff37d51de2a
            <%= link_to 'Edit', edit_review_path(review.id) %>        
                | <%= link_to 'Delete', review_path(review.id), method: :Delete, data: {confirm: "Are you sure you want to delete your review?"} %> <% end %><% end %></div>
          <% end %>
>>>>>>> 1df1b77f552631e86b777a9ff485570439e551fc
     <div class="center">
       <%= will_paginate @reviews, :class => 'digg_pagination' %>
      </div>
          <% end %>
        </div>
      </div></div>
<br>


          <!--script from raty-->
<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>