<p id="notice"><%= notice %></p>

<h1>Reviews</h1>


<%= link_to 'New Review', new_product_review_path %>
<% if @reviews.blank? %>
          <h3>No Reviews addded yet, would you like to add the first?</h3>
          <%= link_to "Add First Review", new_product_review_path(@product), class:"btn btn-primary btn-lg" %>
          <% else %>



<div class="container"><div class="card">
     <div class="center">
       <%= will_paginate @reviews, :class => 'digg_pagination' %>
      </div>
      <div class="card card-body">

          <% @reviews.order("reviewDate desc").each do |review| %>
                    <div class="reviews">
                      <div class="star-rating" data-score= <%= review.rating %> >  
                      </div> <!--From Raty, uses stars with the data attached to the review.rating-->
                      <div class="row">
                        <div class="card-flush" align="center">
                          <p><%= image_tag review.image_file_name,  size:'120x80', style: "border-radius: 100%" %></p><%= review.author %>
                        </div>
                      <div class="card-body offset-md-1" style="width: 50%"; >
                        <p><%= review.reviewText %></p>
                      </div> 
                    </div>
                    <% if review.user_id == current_user.id %>
            <%= link_to 'Edit', edit_review_path(review.id) %>        
                | <%= link_to 'Delete', review_path(review.id), method: :Delete, data: {confirm: "Are you sure you want to delete your review?"} %> <% end %></div>
          <% end %>
     <div class="center">
       <%= will_paginate @reviews, :class => 'digg_pagination' %>
      </div>
          <% end %>
        </div>
      </div></div>
<br>


          <!--script from raty-->
<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>