<div class="container">
	<h1>Add New Review</h1>
		<%= form_for :review, url: reviews_path do |f| %>
		<div class="form-group">
			<%= f.label :author %>
			<%= f.text_field :author, class:'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :rating %>
			<%= f.number_field :rating, class:'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :reviewText %>
			<%= f.text_field :reviewText, class:'form-control' %>
		</div>
		<div class="form-group">
			<%= f.label :reviewDate %>
			<%= f.date_field :reviewDate, class:'form-control' %>
		</div>


		<div class="form-group">
			<%= f.submit "Submit", class: 'btn btn-primary' %>
		</div>

		<div class="form-group">
			<%= link_to "Cancel", reviews_path %>
		</div>

		<% end %>
	</div>

