<div class="container">
	<h3>Review Details</h3>
	<p>Author: 					<%= @review.author %></p>
	<p>Product Rating: 			<%= @review.productRating %></p>
	<p>Review: 					<%= @review.reviewContent %></p>
	<p>Date of Review: 			<%= @review.dateOfReview %></p>
	<p>Product Being Reviewed: 	<%= @review.productID %></p>


	
</div>