<div class="container">
	<h3>Review</h3>

<p>
  <strong>Author:</strong>
  <%= @review.author %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Reviewtext:</strong>
  <%= @review.reviewText %>
</p>

<p>
  <strong>Reviewdate:</strong>
  <%= @review.reviewDate %>
</p>

<p>
  <strong>UserID:</strong>
  <%= @review.user_id %>
</p>

</div>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
