<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"> Congo Online Store</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#"> <%= link_to "Home", '#' %> </a>
        <a class="p-2 text-dark" href="#"> <%= link_to "About Us", '#' %> </a>
        <a class="p-2 text-dark" href="#"> <%= link_to "Contact Us", '#' %> </a>   
        <a class="p-2 text-dark" href="#"> <%= link_to 'Products', products_path %> </a>   
        <% if current_user %> 
                              <a class="p-2 text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.userid %></a>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                               <a class="dropdown-item" href="#"> <%= link_to 'My Profile', profile_path(current_user.id) %></a>
                               <a class="dropdown-item" href="#"> <%= link_to 'Edit Profile', edit_profile_path(current_user.id) %></a>
                             <a class="dropdown-item" href="#"><%=link_to 'Log-out', session_path('active'), method: :delete%></a>
                             </div>
                                
        <% else%>             <a class="p-2 text-dark" href="#"><%= link_to 'Log-In', new_session_path, class: "active_nav_link" %></a>
                <a class="p-2 text-dark" href="#"> <%= link_to 'Create Account', new_user_path %> </a>   

        <% end %>

      </nav>
    </div>
</div>
<div class ="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %>

    <%= yield %>
  </div>
  </body>
</html>
