<% if !current_user %>
	<div class="jumbotron">
		<h1>Coconut Online Stores</h1>
		<p>You must be signed in to write a review of a product on our site.</p>
		<p><%= link_to "Sign-in", new_session_path, class: "btn btn-primary btn-lg" %></p>
	</div>
	<% end %>
	
<div class="container">
	<%= form_tag search_products_path, method: :get do %>
	<tr><%= text_field_tag :term, nil, placeholder: 'Search', width: '80%' %>
	<%= submit_tag "Search", class:'btn btn-primary' %>
</tr>
<% end %>
</br>
<div class="row" >
	<% @products.each do |product| %>
		<div class="col-sm-6 col-md-3 mmt-5"style="margin-bottom:5px"</div>
			<div class="card card-default" style="height: 530px; width: 270px">	
				<div class="table-responsive" style="height: 600px; width: 260px">
					<ul class ="list-group list-group-flush">
						
						<li class="list-group-item">
							<div class="thumbnail">
								<%= link_to (image_tag product.image.url, size: "240x180", class: 'image'), product %>
							</div>
						</li>
						<li class="list-group-item" style="height: 80px"><strong>Product Name:</strong>
				<%= product.pName %></li>
						<li class="list-group-item"><strong>Brand:</strong>
				<%= product.brand %></li>
						<li class="list-group-item"><strong>Average Cost:</strong>
				<%= product.averageCost %></li>
						<li class="list-group-item"><strong>Category:</strong>
				<%= product.category %></li>
						<li class="list-group-item"><strong>Release Date:</strong>
				<%= product.releaseDate %></li>
						<li class="list-group-item"style="height: 40px"><%= link_to 'Add Review', new_product_review_path(product) %>
						</li>
					</ul>
				</div>
			</div>
		</div>

	<% end %>
</div>


</div>
