<div class="container">
	<h3>Product Details</h3>
	<p>Product Name: 			<%= @product.pName %></p>
	<p>Brand: 					<%= @product.brand %></p>
	<p>Average Cost: 			<%= @product.averageCost %></p>
	<p>Category: 				<%= @product.category %></p>
	<p>Date it was released: 	<%= @product.releaseDate %></p>
	<p>Description: 			<%= @product.description %></p>
	<p>Image of Product: 		<%= @product.productImage %></p>

	
</div>