<div class="container">
			<div class="row">
<div class="card" style="align: center">
					<div class="col-md-8 col-md-offset-6 mt-2">
<h3><%= @profile.fullName %>'s profile</h3>
	<p><%= image_tag @profile.image.url,  size:'200x150' %></p>	
	<p>Full Name: 					<%= @profile.fullName %></p>
	<p>Date of Birth: 			<%= @profile.dateOfBirth %></p>
	<p>Address: 			<%= @profile.address %></p>
	<p>City/Town: 	<%= @profile.cityORtown %></p>
	<p>Postcode: 	<%= @profile.postcode %></p>
	<p>Country: 	<%= @profile.country %></p>
	<p><%= link_to 'Edit Profile', edit_profile_path(current_user.id) %></p>
	<p><%= link_to 'Back', :back %></p>
</div>
</div></div>