<div class="container">
			<div class="row">
<div class="card col-md-12" style="align: center">
					<div class="col-md-12 col-md-offset-6 mt-2">
<h3><strong><%= @profile.fullName %>'s Profile</strong></h3>
	<p><%= image_tag @profile.image.url,  size:'200x150' %></p>	
	<p><strong>Full Name: </strong>					<br/><%= @profile.fullName %></p>
	<p><strong>Date of Birth: </strong>	<br/>		<%= @profile.dateOfBirth %></p>
	<p><strong>Address:</strong> 		<br/>	<%= @profile.address %></p>
	<p><strong>City/Town: </strong><br/>	<%= @profile.cityORtown %></p>
	<p><strong>Postcode:</strong> <br/>	<%= @profile.postcode %></p>
	<p><strong>Country: </strong>	<br/><%= @profile.country %></p>
	<p><%= link_to 'Edit Profile', edit_profile_path(current_user.id) %></p>
	<p><%= link_to 'Back', :back %></p>
</div>
</div></div>