<div class="container">
	<h3>Profile Details</h3>
	<p>Full Name: 					<%= @profile.fullName %></p>
	<p>Date of Birth: 			<%= @profile.dateOfBirth %></p>
	<p>Email Address: 					<%= @profile.email %></p>
	<p>Address: 			<%= @profile.address %></p>
	<p>City/Town: 	<%= @profile.cityORtown %></p>
	<p>Country: 	<%= @profile.country %></p>
	<p>Profile Image: 	<%= @profile.photoOfUser %></p>


	
</div>